@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Space Grotesk', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #e2e8f5;
  background-color: #05070f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #05070f;
}

button {
  font-family: inherit;
}
